#title, #subtitle {
    text-align: center;
}

#squares {
    border-radius: 5px;
    background-color: chartreuse;
    width: 100px;
    height: 30px;
    margin-bottom: 32px;
}

.button {
    text-align: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #eeeeee;
    margin: auto;
    justify-content: center;
    align-items: center;
}